<fieldset>
    <legend>New Charity</legend>
    <div class="form-group">
            <label for="exampleFormControlInput1">Title</label>
            <input type="text" class="form-control" name="title" id="charity-title">
    </div>
    <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" id="description" name="description" rows="10"></textarea>
    </div>
</fieldset>