<div class="col-sm-3" style="margin-bottom: 32px;">
    <div class="card">
        <div class="card-header">
            <h4>{{this.title}}</h4>
        </div>
        <div class="card-body">
            <p class="card-text">{{this.description}}</p>
            <a href="/charities/{{this._id}}" class="btn btn-primary">View</a>
        </div>
    </div>  
</div>
