<!-- As a heading -->
<nav class="navbar navbar-default bg-light" style="margin-bottom: 16px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- Home Button -->
            <a class="navbar-brand" href="/">
            Charity Manager
            </a>
        </div>
    </div><!-- container-fluid -->
</nav>