
<div class="form-group">
        <label for="volunteer-name">Name</label>
        <input type="text" class="form-control" name="name" id="volunteer-name" value={{volunteer.name}}>
</div>
<div class="form-group">
    <input class="input-group-field" type="number" name="volunteerHours" value={{volunteer.volunteerHours}}>
</div>

{{!-- https://foundation.zurb.com/building-blocks/blocks/plus-minus-input.html
IMPLEMENT LATER --}}


