<div class="row">
    <div class="col-sm-12">
        <a href="/charities/new" class="btn btn-primary navbar-btn" style="float: right; margin-bottom: 16px;" >New Charity</a>
    </div>
    <div class="container">
        <div class="row">
            {{#each charities}}
                {{> charity}}
            {{/each}}
        </div>
    </div>
</div>

