<div class="row">
    <div class="col-sm-12">
        <form method="POST" action="/charities/new">

            {{> charities-form }}

            <!-- Post button -->
            <p>
                <button type="submit">Save Charity</button>
            </p>
        </form>
    </div>
</div>