<div class="row">   
    <div class="col-sm-12" style="margin-bottom: 32px;">
        
        <div class="card" align="center" style="margin-bottom: 16px;">
            <div class="card-header">
                <h4 align="center">{{charity.title}}</h4>
            </div>
            <div class="card-body">
                <p class="card-text" align="center">{{charity.description}}</p>
                <a href="/charities/{{this._id}}/edit" class="btn btn-light" style="float: right;">Edit</a>
            </div>
        </div>  
        <a href="/charities/{{charity._id}}/volunteers/new" class="btn btn-primary" style="float: right; margin-bottom: 16px;" >New Volunteer</a>
    </div>
    
    <div class="container">
        <div class="row">
            {{!-- <div id="volunteers"> --}}
                {{#each volunteers}}
                    {{> volunteer}}
                {{/each}}
            {{!-- </div> --}}
        </div>
    </div>
</div>

    

    