<fieldset>
    <legend>Edit Charity</legend>
    <div class="row">
        <div class="col-sm-12">
            <form method="POST" action="/charities/{{charity._id}}/edit?_method=put">

                {{> charities-form }}

                <!-- Post button -->
                <p>
                    <button type="submit">Save Charity</button>
                </p>
            </form>
        </div>
    </div>

</fieldset>