<div class="row">
    <div class="col-sm-12">
        <form method="POST" action="/charities/{{charityId}}/volunteers/{{volunteerId}}/edit?_method=PUT">
            <fieldset>
                <legend>Edit Volunteer</legend>
                {{> volunteers-form }}
            </fieldset>
            <input type="hidden" name="charityId" value={{charityId}}>

            <!-- Post button -->
            <p>
                <button type="submit">Save</button>
            </p>
        </form>
    </div>
</div>